{
  "base_url": "https://forum.nim-lang.org/",
  "threads_url": "https://forum.nim-lang.org/threads.json",
  "posts_url": "https://forum.nim-lang.org/posts.json?id=",
  "reddit_url": "https://www.reddit.com/r/nim/new.json",
  "so_tag": "nim-lang",
  "so_key": "XXXXXXXXXX",
  "max_context_len": 60,
  "check_interval": 20,
  "irc_nickname": "XXXXXXXXX",
  "irc_password": "XXXXXXXX",
  "irc_chans": ["#nim"],
  "irc_full_chans": ["#nim-news"],
  "discord_webhook": "XXXXXXXXXXXXXXX",
  "telegram_url": "https://api.telegram.org/XXXXXXXXXXXX/sendMessage?chat_id=$1&text=$2",
  "telegram_ids": ["@nim_lang"],
  "telegram_full_ids": ["@nimforum_updates"]
}